{# 主页模板 #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ name }}'s Watchlist</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body>
        <h2>
            <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avater.png') }}">
            {{ name }}'s Watchlist</h2>
        {# 使用length 过滤器获取电影列表长度 #}
        <p>{{ movies|length }} Titiles</p>
        <ul class="movie-list">
            {% for movie in movies %}
            {# 迭代movies 变量 #}
            <li>{{ movie.title }} -- {{ movie.year }}</li>
            {# 等同于movie['title'] #}
            {% endfor %}
        </ul>
        <footer>
            <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.png') }}">
            <br>
            <small>&copy; 2018<a href="https://github.com/lihaoabc/watchlist">
                HelloFlask
            </a></small>
        </footer>
    </body>
</html>